@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
  scroll-behavior: smooth;
}


::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: rgba(87, 131, 219, 0.70);
}

::selection {
  color: #fff;
  background: rgba(87, 131, 219, 0.70);
}

:root {
    --main-bg-color: #0F172A;
    --main-text-color: rgba(250, 249, 246);
    --main-subtext-color: rgba(250, 249, 246, 0.70);
    --main-card-hover-color: rgba(94, 234, 212, 0.10)
  }

body{
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);
    overflow-x: hidden;
}

.subtext {
  color: var(--main-subtext-color);
}

.card{
  transition: all 0.5s;
}

.card:hover{
  background: var(--main-card-hover-color);
}


.link hr{
  transition: all 0.5s;
}


.link:hover{
  color: var(--main-text-color);
  transition: all 0.5s;
}

.link:hover hr{
  width: 15% !important;
}

